@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
html {
    font-size: 100%;
}

body {
    background: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    color: #475261;
    font-size: 1.3rem;
}

.wrapper {
    vertical-align: baseline;
    max-width: 1300px;
    padding: 60px;
    margin: 0 auto;
}

a:hover {
    text-decoration: none;
}

.wrapper:after,
section {
    clear: both;
}

header#top {
    background-color: transparent;
    padding: 0;
    position: fixed;
    width: 100%;
    z-index: 10000;
}

.visable {
    background: rgba(0, 0, 0, 0.27)!important;
}

header#top img {
    height: 36px;
    width: 36px;
    margin: 12px 0;
    float: left;
}

nav ul li a:link,
nav ul li a:visited {
    padding: 20px 0 20px 20px;
    text-transform: uppercase;
    background: 0 0;
    text-decoration: none!important;
    color: #fff;
    font-size: .85em;
    border-bottom: -1px solid #fefde4;
}

nav {
    font-weight: 100;
    line-height: 3.5rem;
    padding: 0 40px;
}

nav ul {
    float: right;
}

nav ul li {
    display: inline;
}

#main-banner {
    background: url(../images/dyl-banner1.jpg) top/cover no-repeat;
}

.banner {
    position: relative;
    width: 100%;
    text-align: left;
    height: 700px;
}

.banner .message {
    width: 75%;
    margin: 4rem;
}

.banner .message h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 8rem;
    color: #092b94;
    text-transform: uppercase;
    font-weight: 100;
}

.banner .message p {
    color: #092b94;
    font-weight: 100;
    margin: 1rem;
}

#projects {
    position: relative;
}

.section-title {
    font-size: 2em;
    color: #092b94;
    width: 100%;
    position: relative;
    text-align: center;
    line-height: 4rem;
    margin: 0 auto;
    z-index: 100;
    max-height: 66px;
    text-transform: uppercase;
}
.section-subtitle {
    font-size: 1.25rem;
    color: #092b94;
    width: 100%;
    position: relative;
    text-align: center;
    line-height: 4rem;
    margin: 0 auto;
    z-index: 100;
    max-height: 66px;
    text-transform: uppercase;
}
#main #projects article {
    display: inline;
    float: left;
    width: 47%;
    margin: 0 1%;
    text-align: center;
    padding: 30px 0;
}

.project-img {
    max-width: 403px;
    width: 20rem;
    height: 20rem;
    border: 5px solid #092b94;
    border-radius: 100%;
    background: white;
}

.project-img:hover {
    border: 10px solid #092b94;
}

#main #projects article h3 {
    font-size: 2rem;
    margin-top: 25px;
    color: #092b94;
    font-variant: small-caps;
}

#main #projects article p {
    margin: 2rem;
    text-transform: none;
    font-weight: 300;
    font-size: 1rem;
    text-align: left;
}

.code-link {
    color: #092b94;
    text-align: center !important;
}

#main #bio {
    background-color: rgb(5, 26, 90);
    display: block;
    position: relative;
    z-index: 1;
}

#main #bio article {
    width: 70%;
    padding: 40px 0;
}

#main #bio article h2 {
    text-transform: uppercase;
    color: #ffffcc;
    line-height: 2em;
}

#main #bio article p {
    line-height: 2.4em;
}

html .btn {
    border: 3px solid #E0CB77;
    font-size: inherit;
    text-decoration: none;
    color: #fff;
    background: 0 0;
    cursor: pointer;
    padding: 1.4rem 4rem;
    display: inline-block;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    outline: 0;
    position: relative;
    border-radius: 2px;
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
}

#skillSet article.skill {
    display: inline;
    float: left;
    width: 30%;
    margin: 30px 1%;
    text-align: center;
    padding-top: 10px;
    overflow: hidden;
}

#skillSet .skillSet-inner {
    background: #fff;
    padding: 40px;
    position: relative;
}

#skillSet article.skill h3 {
    color: #092b94;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

footer {
    background: #272D35;
    padding: 20px 0;
    min-height: 280px;
    text-align: center;
    color: #fff;
    clear: both;
}

.soc {
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style: none;
}

.soc li {
    display: inline-block;
    zoom: 1;
    margin-top: 10px;
}

.soc li a {
    font-style: normal;
    font-weight: 400;
    box-sizing: border-box;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    display: block;
    position: relative;
    z-index: 1;
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 33px;
    border-radius: 58px;
    margin-right: 10px;
    color: #fff;
    background-color: none;
}

.soc li a:hover {
    background-color: #fefde4;
    color: #758599;
}

footer small {
    padding-top: 50px;
    display: block;
    color: #758599;
    font-size: .85rem;
    line-height: 1.8rem;
}

@media only screen and (max-width: 1000px) {
    #skillSet article.skill {
        display: inline;
        width: 100%;
        margin: 3rem auto;
        padding-top: 10px;
    }
}
